#graph-holder {
    /*background: #f1f1f1;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.graph-div {
    width: 80%;
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    height: 500px;
    margin: 1rem;
}

.graph-title {
    border-bottom: 0.1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    color: white;
    background-color: steelblue;
}

.visualization {
    height: 500px;
    position: relative; 

}

.tooltip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 #f2f2f2;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font-size: 10px;
    padding: 5px;
    text-align: left;
}

.tooltip-title {
    /*font-size: 10px;*/
    text-align: center;
    width: 100%;
    border-bottom: 0.1rem solid gray;
    margin-bottom: 1.5px;
}

.tooltip-count {
    font-size: 10px;
    display: inline;
    padding-top: 0.5rem;
}

.legend-div {
    padding: 5px;
}

.node {
    position: absolute;
    background: transparent url('') no-repeat 50% / cover;
    border: 2px black solid;
    overflow: hidden;
    display: table;
}

.node-value {
    display: table-cell;
    vertical-align: middle;
}